<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`, {page: `new method`}) %>

    <form method="post" action="/methods/new">
<br><br>
      <div class="form-group">
        <label for="name">Method:</label>
        <input class="form-control" type="text" name="name" id="method" placeholder="Ex: Array.prototype.map()">
      </div><br>

      <div class="form-group">
        <label for="language">Language:</label>
        <!-- <input class="form-control" type="text" name="language" id="language" placeholder="Ex: JavaScript, jQuery, ECMAScript 6"> -->
        <select class="form-control" name="language" id="language">
          <option selected="selected">JavaScript</option>
        </select>
      </div><br>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="3" cols="80" name="description" id="description" placeholder="Add description here..."></textarea>
      </div><br>

      <div class="form-group">
        <label for="version_added">Version:</label>
        <!-- <input class="form-control" type="text" name="version_added" id="version_added" placeholder="Ex: ECMAScript 2016"> -->
        <select class="form-control" name="version_added" id="version_added">
          <option>JavaScript 1.0</option>
          <option>JavaScript 1.1</option>
          <option>JavaScript 1.2</option>
          <option>JavaScript 1.3</option>
          <option>JavaScript 1.4</option>
          <option>JavaScript 1.5</option>
          <option>JavaScript 1.6</option>
          <option>JavaScript 1.7</option>
          <option>JavaScript 1.8</option>
          <option selected="selected">ECMAScript 2015 (6th Edition, ECMA-262)</option>
        </select>
      </div><br>

      <div class="form-group">
        <label for="docs_url">Docs:</label>
        <input class="form-control" type="url" name="docs_url" id="docs_url" placeholder="Ex: https://developer.mozilla.org/...">
      </div><br>

      <div class="form-group">
        <label for="slug_url">Slug for URL:</label>
        <input class="form-control" type="text" name="slug_url" id="slug_url" placeholder="Ex: Array-map">
      </div><br><br>

      <input class="exercise-btn" type="submit">
    </form>

  </body>
</html>
