<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`, {page: `home`}) %>

    <form method="post" action="/methods/new">

      <div class="form-group">
        <label for="name">Method</label>
        <input class="form-control" type="text" name="name" id="method" placeholder="Ex: .map()">
      </div>

      <div class="form-group">
        <label for="language">Language</label>
        <input class="form-control" type="text" name="language" id="language" placeholder="Ex: JavaScript, jQuery, ECMAScript 6">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" cols="80" name="description" id="description" placeholder="Add description here..."> </textarea>
      </div>

      <div class="form-group">
        <label for="version_added">Version</label>
        <input class="form-control" type="text" name="version_added" id="version_added" placeholder="Ex: ECMAScript 2016">
      </div>

      <div class="form-group">
        <label for="docs_url">Docs</label>
        <input class="form-control" type="url" name="docs_url" id="docs_url" placeholder="Ex: https://developer.mozilla.org/...">
      </div>

      <input class="btn" type="submit">
    </form>

  </body>
</html>
