<div class="links">

		<img src="favicon.ico" alt="logo" />
	<div class="left">
		<a href="/">home</a>
		<a href="/about">about</a>
	</div>

	<div class="right">
<% if (user) { %>
	<% if(user.local && user.local.isAdmin) { %>
	<a href="#">admin status</a>
	<% }%>
	<a href="/dashboard">dashboard</a>
	<a href="/profile">profile</a>
	<a href="/logout">log out</a>
<% } else { %>
	<a href="/signup">sign up</a>
	<a href="/login">log in</a>
<% } %>


<img src="favicon.ico" alt="logo" />

	</div>

</div>
