<div class="links">
	<div class="left">
		<a href="/">home</a>
		<a href="/about">about</a>
	</div>

	<div class="right">
<% if (user) { %>
	<a href="/dashboard">Dashboard</a>
	<a href="/logout">Log Out</a>
<% } else { %>
	<a href="/signup">Sign Up</a>
	<a href="/login">Log In</a>
<% } %>
	</div>



</div>
