<!DOCTYPE html>
<html>

<head>
    <%- include(`../partials/head`) %>
        <%- include(`../partials/scripts`) %>
</head>

<body>
    <%- include(`../partials/header`) %>
        <!-- <%/* -  Placeholder for include(`../partials/header`, {page: `home`})
    This is the Nav Bar for the top of the page. */ %> -->
        <!-- <div id="homepage-container"> -->

        <div id="title-container" class="container">
            <!-- <h1>About Whetstone</h1> -->
            <p><span style="color:white">Whetstone</span> was established in 2017 as an alternative to the Codewars and Codecademy websites. Our vision is to provide you with more of a foundation to help you learn to code. We have broken down sprints into various topics of focus such as
                the .Map and Math. objects in JavaScript so you may specifically hone in and master a skill.<br><br> For more ways to to help you become a "Master Chef", check out these great sites...<br>
                <a href=https://www.codewars.com/>Codewars</a> & <a href=https://www.codecademy.com//>Codecademy</a>
            </p>
        </div>

        <div id="knife">
            <img src="knive.png" alt="knive">
        </div>
</body>

</html>
