<!DOCTYPE html>
<html>

<head>
    <%- include(`../partials/head`) %>
        <%- include(`../partials/scripts`) %>
</head>

<body>
    <%- include(`../partials/header`) %>
        <!-- <%/* -  Placeholder for include(`../partials/header`, {page: `home`})
    This is the Nav Bar for the top of the page. */ %> -->
        <!-- <div id="homepage-container"> -->

        <div class="container">
            <!-- <h1>About Whetstone</h1> -->
            <p><span style="color:white">Whetstone</span> was established in 2017
                as an alternative to sites such as Codewars and Codecademy.
                Our vision is to give you a more specific foundation to help you learn
                to code. We have provided a daily challenge for you on various topics
                such as the .Map and Math. objects in JavaScript so you may hone in
                and master a specific skill.<br><br> For more ways to to help you become a "Master Chef", check out these great sites...<br>
                <a href=https://www.codewars.com/>Codewars</a> & <a href=https://www.codecademy.com//>Codecademy</a>
            </p>
        </div>

        <div id="knife">
            <img src="/img/knife.png" alt="cutlery">
        </div>
</body>

</html>
