<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <!-- <%/* -  Placeholder for include(`../partials/header`, {page: `home`})
    This is the Nav Bar for the top of the page. */ %> -->
    <div id="homepage-container">
      <div id="title-container" class="container">
        <img src="#" alt="Whetstone Logo" class="homepage-logo"> <!-- Add Logo Link -->
      </div>
      <div class="homepage-slogan">
        <h1>"daily sharpening of your coding skills"</h1>
      </div>
    </div>
  </body>
</html>
