<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
    <div id="homepage-container">

      <div id="title-container" class="container">
        <img src="/img/logo.png" alt="Whetstone Logo" class="homepage-logo">
      </div>

      <div class="homepage-slogan">
        <i>daily sharpening <br> of your <br> coding skills</i>
      </div>

    </div>
  </body>
</html>
