<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <!-- <%/* -  Placeholder for include(`../partials/header`, {page: `home`})
    This is the Nav Bar for the top of the page. */ %> -->
  </body>
</html>
