<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
    <!-- <%/* -  Placeholder for include(`../partials/header`, {page: `home`})
    This is the Nav Bar for the top of the page. */ %> -->

    <% if (message.length > 0) { %>
      <div class="alert"><%= message %></div>
    <% } %>

    <br><br><br>

    <form method="post" action="/login">
      <div class="form-group">
        <label for="email">Email: &nbsp; &nbsp; &nbsp; &nbsp; </label>
        <input class="form-control" type="text" name="email" id="email">
      </div>

    <br>

      <div class="form-group">
        <label for="email">Password:</label>
        <input class="form-control" type="password" name="password" id="password">
      </div>

    <br>
      <input class="btn" type="submit">
    </form>

    <br><hr><br>
    <h2>or login/register with facebook:</h2>
    <a href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a>
    <script src="https://use.fontawesome.com/c25ceb8929.js"></script>

  </body>
</html>
