<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>


    <% if (message.length > 0) { %>
      <div class="alert"><%= message %></div>
    <% } %>

    <br><br><br>
    <form action="/signup" method="post">
      <div class="form-group">
        <label for="title">Title:</label>
        <select name="title" id="title" class="form-control">
          <option>Chef</option>
          <option>Smith</option>
          <option>Warrior</option>
        </select>
      </div><br>

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control">
      </div><br>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="form-control">
      </div><br>

      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password">
      </div><br>

      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input class="form-control" type="password" name="confirm-password" id="confirm-password">
      </div><br>

      <input class="btn" type="submit">
    </form>
    <br><hr><br>
    <h2>or sign up with:</h2><br>
    <a href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a>
    <script src="https://use.fontawesome.com/c25ceb8929.js"></script>
  </body>
</html>
