@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Serif+Pro');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

/*
dark blue: #667082
lighter blue: #9aa1ac
*/

/* General Styles */

img {
	width: 200px;
}

button {
	display: block;
	cursor: pointer;
}

/* Exercises Styles */

#input {
	width: 400px;
	height: 200px;

	border: 1px solid black;
}
#output {
	width: 400px;
	height: 200px;
	background-color: purple;
	color: white;

	border: 1px solid black;
}