@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Serif+Pro');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

/*
dark blue: #667082
lighter blue: #9aa1ac
*/

img {
	display: block;
	margin: auto;
	width: 400px
}

header {
	background-color: #9aa1ac
}

body {
	background-color: #667082;
	text-align: center
}
