@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Serif+Pro');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

/*
dark blue: #667082
lighter blue: #9aa1ac
*/

img {
	width: 200px;
}