<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
    <div>
        <h1>Dashboard</h1>
        <a href="#">Do today's exercises.</a>

    </div>
  </body>
</html>
