<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
<div class="exercises">
    <div>
        <!-- <h1>Today's Exercises</h1> -->
        <div id="prompt">
            <p>Given a single dash as a string, return its type as a string - "em", "en", or "hyphen".
    This might be a good resource: http://www.thepunctuationguide.com/hyphen-and-dashes.html.</p><br>
        </div>
        <textarea id="input"></textarea><br><br><br><br>
        <button id="run">Run</button>
        <div id="output">
         <p></p>
        </div>
    </div>
    <%- include(`../partials/scripts`) %>
  </body>
</html>
