  <h1><%= user.facebook.email || user.local.email %></h1>

    <a href="/user/<%= user._id %>" class="btn btn-default btn-sm">Edit</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/user/<%= user._id %>/delete" id="delete-account" class="btn btn-danger btn-sm">Delete Your Account</a>

  <h2>User</h2>
    <p>Email: user.facebook.email || user.local.email %></p><br>


<script type="text/javascript">
  $('#delete-account').on('click', function(e){
    if (! confirm("Are you sure you want to permanently delete your account?!")) {
      e.preventDefault()
    }
  })
</script>
